*{
  border:1px black solid;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#drum-machine{
  display:Flex;
  align-items: center;
  justify-content:left;
  border:darkkhaki 10px solid;
  padding:20px;
  height:400px;
  width:800px;
  background-color:antiquewhite;
  margin:auto;
  margin-top:180px;
}
#display {
  width:400px;
  height:300px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.drum-pad{
  font-size:56px;
  text-align: center;
  user-select: none; 
  height: 90px;
  width:130px;
  background: white;
  border: black solid 2px;
}
#menu{
  width:400px;
  margin:auto;
  height:350px;
}
